body {
  background: #1f222a;
}

* {
  color: #b0bbb6;
}
a {
  color: #34d399;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  box-shadow: inset 0 -5px 0 -2px rgba(52, 211, 153, 0.21);
}

a:hover {
  box-shadow: inset 0 -23px 0 -1px rgba(52, 211, 153, 0.21);
}
h1,
h2,
h3,
h4,
h5 {
  color: #34d399;
}

blockquote {
  border-left: 0.32813rem solid #34d399;
}

img {
  filter: saturate(90%);
}
.header-links > svg{
  visibility: visible !important;
  fill: #34d399 !important;
}

pre[class*="language-"] {
  background: #022f24 !important;
  border-radius: 5px;
  /* color: white !important;
  padding-left: 3px !important;
  padding-right: 3px !important;
  margin-left: 3px !important;
  margin-right: 3px !important;
  text-shadow: none !important; */
}
blockquote {
  background: #34d39912;
  margin-left: 0px;
}
ol {
  margin-left: 25px;
}

code[class*="language-"] {
  background: #022f24 !important;
  color: #10b981 !important;
  padding-left: 3px !important;
  padding-right: 3px !important;
  margin-left: 3px !important;
  margin-right: 3px !important;
  text-shadow: none !important;
}
.token.operator {
  background: none !important;
}